#placetel-toolbar {
  position: fixed;
  bottom: 0;
  left: 10px;
  background-color: #003300;
  padding: 5px;
  z-index: 999;
}
#placetel-toolbar .routing {
  float: left;
  margin: 0 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 3px;
}
#placetel-toolbar .routing.active {
  background-color: #ffffff;
  color: #003300;
}
#placetel-toolbar .bookmark-action {
  float: left;
  margin-right: 15px;
}
#placetel-toolbar .bookmark-placeholder {
  clear: both;
  background-color: #aaaaaa;
}

.placetel-phone {
  background-color: #ff0000;
}

.placetel-action:hover,
.placetel-phone:hover {
  cursor: pointer;
}